<mat-toolbar color="primary">
  <nav>
    <ul>
      <li><a mat-button href="#about">About Me</a></li>
      <li><a mat-button href="#education">Education</a></li>
      <li><a mat-button href="#work experience">Work Experience</a></li>
      <li><a mat-button href="#skills">Skills</a></li>
      <li><a mat-button href="#interests and contact">Interests and Contact</a></li>
    </ul>
  </nav>
</mat-toolbar>

<section id="about">
  <mat-card>
    <mat-card-header>
      <mat-card-title>About Me/Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet. Et rerum maxime qui molestiae sequi ut dolore placeat! Et labore voluptas 33 itaque sapiente At ipsa earum. Quo vitae eveniet ut laboriosam culpa sit ipsam quia qui facere quod qui ipsa corporis qui officiis minus? Ut dignissimos veritatis et quos esse aut quas illum nam voluptates dolores. Est galisum Quis eos quaerat praesentium sed optio voluptas et sint quas! In sunt porro rem perferendis laudantium qui consequatur quisquam est quod alias in magnam minus sit nisi quae est voluptas eaque? Est rerum pariatur sit fuga deleniti et voluptates quia.
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section id="education">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Education</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Electronics and Computer Engineering - Lagos State University, Epe,
        Lagos July 2021 - current
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section id="work experience">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Work Experience</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet. Et rerum maxime qui molestiae sequi ut dolore placeat! Et labore voluptas 33 itaque sapiente At ipsa earum. Quo vitae eveniet ut laboriosam culpa sit ipsam quia qui facere quod qui ipsa corporis qui officiis minus? Ut dignissimos veritatis et quos esse aut quas illum nam voluptates dolores. Est galisum Quis eos quaerat praesentium sed optio voluptas et sint quas! In sunt porro rem perferendis laudantium qui consequatur quisquam est quod alias in magnam minus sit nisi quae est voluptas eaque? Est rerum pariatur sit fuga deleniti et voluptates quia.
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section id="skills">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Skills</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Soft and Hard Skills: Problem-Solving, Learning Agility, Team
        Collaboration Software Skills: programming
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section id="interests-and-contact">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Interests and Contact</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet. Et rerum maxime qui molestiae sequi ut dolore placeat! Et labore voluptas 33 itaque sapiente At ipsa earum.
      </p>
      <p>References:</p>
      <p>Available upon request</p>
      <p>Contact me at:</p>
      <p>
        <a mat-button href="mailto:onikoyitinuade0526&#64;gmail.com">
          onikoyitinuade0526&#64;gmail.com
        </a>
        <br>
        <a mat-button href="https://www.linkedin.com/in/akinlade-muheebah-anike" target="_blank" rel="noopener noreferrer">
          www.linkedin.com/in/akinlade-muheebah-anike
        </a>        
      </p>
    </mat-card-content>
  </mat-card>
</section>

<section>
  <mat-card>
    <mat-card-content>
      <p><span>&copy; Muheebah || All Rights Reserved</span></p>
    </mat-card-content>
  </mat-card>
</section>

